/*
* =============== 
*    BUTTON 
* ===============
*/

.button {
  border: 2px solid red;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 18px 32px;
  border: 2px solid var(--first-color-light);
  color: var(--title-color-black);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background-color: var(--first-color-alt);
  }

  & i {
    font-size: 1.25rem;
    transition: transform 0.3s;
  }
}

.button__flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;

  &:hover i {
    transform: translateX(0.25rem);
  }
}
